header.header
	.header__wrapper

		//- LOGOTYPE BLOCK
		.header__logo
			a(href="#")
				img(src="./img/header_logotype.svg" alt="Header logo")

		//- SEARCH BLOCK
		.header__search
			input.header__search-form(placeholder="Company name")

		//- LOGIN BLOCK
		.login
				a(href="#")
					i.login__message
				a(href="#")
					i.login__notifications
				a.login__link(href="#")
					img.login__userpic(src="img/login_icon.png" alt="User account picture")
				a.login__username(href="#") Maximillian Beekeepergs