.main__left-col
	.left-col__menu
		ul
			li.icon__feed <a href="#">Feed</a>
			li.icon__ask <a href="#">Ask a Colleague</a>
			li.icon__companies <a href="#">Companies</a>
			li.icon__service <a href="#">Service Directory</a>
	.left-col__advertisment
		h5.advertisment__heading Advertisment
		a(href="#")
			img(src="img/advertisment1.jpg" alt="advertisment-link")
			a.advertisment__subtext(href="#") Ads By Denteez.com
	.companies
		.companies__links-wrapper
			h5.companies__heading Featured Companies
			a(href="#").companies__see-all See all
		ul.companies__list
			li.companies__item
				.companies__image-wrapper
					img(src="img/company1.jpg" alt="company-photo")
				.companies__text-wrapper
					p.companies__name Company Name
					p.companies__position Manufacturer
					p.companies__location Belgrade, Serbia
					a(href="#").companies__follow Follow Now
			li.companies__item
				.companies__image-wrapper
					img(src="img/company2.jpg" alt="company-photo")
				.companies__text-wrapper
					p.companies__name Company Name
					p.companies__position Manufacturer
					p.companies__location Belgrade, Serbia
					a(href="#").companies__follow Follow Now
			li.companies__item
				.companies__image-wrapper
					img(src="img/company3.jpg" alt="company-photo")
				.companies__text-wrapper
					p.companies__name Company Name
					p.companies__position Manufacturer
					p.companies__location Belgrade, Serbia
					a(href="#").companies__follow Follow Now
	.copyright
		p.copyright__year Denteez Copyright 2015
		a.copyright__terms(href="#") Terms of use
		a.copyright__policy(href="#") Privacy policy