.main__right-col

	// FEATURED PEOPLE BLOCK
	.people__links-wrapper
		h5.people__heading People you may know
		a(href="#").people__see-all See all
	ul.people__list
		li.people__tile
			p.people__name Dennis Adams
			.people__image-wrapper
				a(href="#")
					img(src="img/dennis.jpg" alt="people-photo")
			.people__text-wrapper
				p.people__position Dentist (Practice Owner)
				p.people__location London, England
				a(href="#").people__follow Add Friend
		li.people__tile
			p.people__name Mary Carpenter
			.people__image-wrapper
				a(href="#")
					img(src="img/mary.jpg" alt="people-photo")
			.people__text-wrapper
				p.people__position Dentist (Practice Owner)
				p.people__location Belgrade, Serbia
				a(href="#").people__follow Add Friend
		li.people__tile
			p.people__name Danielle Salazar
			.people__image-wrapper
				a(href="#")
					img(src="img/danielle.jpg" alt="people-photo")
			.people__text-wrapper
				p.people__position Dentist (Practice Owner)
				p.people__location Paris, France
				a(href="#").people__follow Add Friend

	// FEATURED PRODUCTS BLOCK
	.products
		.products__links-wrapper
			h5.products__heading Featured Products
			a(href="#").products__see-all See all
		ul.products__list
			li.products__tile
				p.products__name Product Name
				.products__image-wrapper
					a(href="#")
						img(src="img/product1.jpg" alt="products-photo")
				.products-wrapper
					p.products__position Product Short Description. The quick brown fox jumps over the lazy dog.
		ul.products__list
			li.products__tile
				p.products__name Product Name
				.products__image-wrapper
					a(href="#")
						img(src="img/product2.jpg" alt="products-photo")
				.products-wrapper
					p.products__position Product Short Description. The quick brown fox jumps over the lazy dog.

	// ADVERTISMENT BLOCK
	.left-col__advertisment
		h5.advertisment__heading Advertisment
		a(href="#")
			img(src="img/advertisment2.jpg" alt="advertisment-link")
		a.advertisment__subtext(href="#") Ads By Denteez.com