@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/proximanovaregular.eot'); 
	src: url('../fonts/proximanovaregular.eot?#iefix') format('embedded-opentype'), 
			 url('../fonts/proximanovaregular.woff2') format('woff2'),
			 url('../fonts/proximanovaregular.woff') format('woff'),
			 url('../fonts/proximanovaregular.ttf')  format('truetype'),
}