doctype html
html(lang="en" data-ng-app="app")
	head
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- link(rel="shortcut icon" href="img/favicon.png")
		//- link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
		//- HTML 5 SHIV
		<!--[if lt IE 9]>
		script(src="lib/html5shiv/es5-shim.min.js")
		script(src="lib/html5shiv/html5shiv.min.js")
		script(src="lib/html5shiv/html5shiv-printshiv.min.js")
		script(src="lib/respond/respond.min.js")
		<![endif]-->
		//build:css css/vendor.min.css
		//bower:css
		//endbower
		//endbuild

		//build:css css/style.min.css
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="stylesheet" href="css/fonts.min.css")
		//endbuild

		title Denteez

	body
		.overlay.hidden
		include includes/header.jade
		include includes/main.jade

		//build:js js/vendor.min.js
		//bower:js
		script(src='lib/angular/angular.js')
		//endbower
		//endbuild
		// build:js js/app.min.js
		script(src="js/app.js")
		// endbuild
